/* [GLOBAL] */

/* [DARK MODE] */
.dark-mode{
    --background: black;
    --text-color: whitesmoke;
    --main-bacground: rgb(50, 50, 50)
}
/* [LIGHT MODE] */
.light-mode{
    --background: rgb(235, 235, 235);
    --text-color: black;
    --main-bacground: rgb(190, 190, 190)
}