/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
p, a, h1, h2, h3, h4, h5, h6, input, div{
    font-family: 'Inder', sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}
body{
    margin: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
