<footer>
    <div class="footer-column">
        <p class="footer-divider">SOFT I WAS USING</p>
        <div class="footer-group">
            <a href="https://coolbackgrounds.io">Background</a>
            <a href="https://github.com/Raza-ILV?tab=repositories">Github</a>
            <a href="https://github.com/Raza-ILV/MEAN-Stack-learn">This project</a>
        </div>
    </div>
    <div class="footer-column">
        <p class="footer-divider">COLORS & FONTS</p>
        <div class="footer-group">
            <a href="https://bgjar.com">BG Generation</a>
            <a href="https://mycolor.space">Palette</a>
            <a href="https://fonts.google.com/specimen/Inder?query=Inder">Used fonts</a>
        </div>

    </div>
    <div class="footer-column">
        <p class="footer-divider">SUPPORT ME</p>
        <div class="footer-group">
            <a href="https://t.me/Raza_Kn">Contact us</a>
            <a href="#">Share website</a>
            <a href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR">Eminem</a>
        </div>

    </div>
</footer>
